/* for xs device */

@media (max-width:767px) {

    .banner {
        background-image: url(../images/bg1_xs.jpg);
        background-repeat: no-repeat;
        min-height: 720px;
        background-size: cover;
        background-position: center center;
        padding-top: 30px;

    }

    .banner span {

        font-family: ubuntu;
        font-weight: bold;
        color: white;
        font-size: 42px;
    }

    .banner p {
        font-family: ubuntu;
        color: white;
        font-size: 16px;
        margin-top: 25px;
        margin-bottom: 46px;
    }

    #dwnld {
        width: 158px;
        height: 51px;
        border-radius: 7px;
        border: 0px;
        margin-right: 10px;
        background-color: #FC6A42;
        color: white;
        font-family: ubuntu;
        font-weight: bold;
        font-size: 18px;

    }

    #fetr {
        width: 158px;
        height: 51px;
        border-radius: 7px;
        border: 0px;
        background-color: #4466C9;
        color: white;
        font-family: ubuntu;
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 20px;
        text-align: center;
    }

    .banner_img img {
        width: 300px;
        height: 400px;
    }
    .icon_text p {
        color: #AEAEAE;
        font-family: ubuntu;
        margin-top: 16px;
        margin-bottom: 40px;
    }

    .left_arrow {
        margin-top: 155px;
    }


    .right_arrow {
        margin-top: 155px;
    }

    .slide_img {
        width: 290px;
        height: 380px;
    }

    .cloudy {
        width: 300px;
        height: 430px;
    }
    .sunny {
        width: 300px;
        height: 430px;
    }
    .rainy {
        width: 300px;
        height: 430px;
    }
    .download {
    background-image: url(../images/bg2_xs.jpg);
    min-height: 341px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    }
    
    .dnl{
     padding-top: 0px;
    }
    
    .foot{
    position: relative;
    }
    
    .Top{
    position: absolute;
    right: 0%;
    bottom: 0%;
    }
}

/* for sm device */

@media (min-width: 768px) and (max-width: 991px) {
    
    .banner {
        background-image: url(../images/bg1_sm.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        padding-top: 30px;
        min-height: 700px;
   

    }
    
    .banner span {

        font-family: ubuntu;
        font-weight: bold;
        color: white;
        font-size: 35px;
    }
    
    .banner_button {
    text-align: center;
        margin-top: 40px;
}
    
    .slide_img{
        width: 800px;
        height: 700px;
    }

    .download {
    background-image: url(../images/bg2_sm.jpg);
    min-height: 341px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
    .dnl{
     padding-top: 55px;
}
}

/* for md device */

@media (min-width: 992px) and (max-width: 1199px) {
    
    .slide_img {
       
    }
}

/* for lg device */

@media (min-width: 1200px) {}
