@font-face {

    font-family: 'ubuntu';
    src: url(../fonts/Ubuntu-R.ttf)
}

.header {
    background-color: #648CFF;
    min-height: 100px;

}

.logo {
    margin-top: 22px;
}


.navbar-default .navbar-nav > li > a {
    color: white;
    font-family: ubuntu;
    font-weight: bold;
}

.nav-style {
    background-color: transparent;
    border: 0px;
    margin-top: 6px;
}

.banner {
    background-image: url(../images/bg1.jpg);
    min-height: 676px;
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 30px;
}

.banner span {

    font-family: ubuntu;
    font-weight: bold;
    color: white;
    font-size: 42px;
}

.banner p {
    font-family: ubuntu;
    color: white;
    font-size: 16px;
    margin-top: 25px;
    margin-bottom: 46px;
}

#dwnld {
    width: 158px;
    height: 51px;
    border-radius: 7px;
    border: 0px;
    margin-right: 10px;
    background-color: #FC6A42;
    color: white;
    font-family: ubuntu;
    font-weight: bold;
    font-size: 18px;

}

#fetr {
    width: 158px;
    height: 51px;
    border-radius: 7px;
    border: 0px;
    background-color: #4466C9;
    color: white;
    font-family: ubuntu;
    font-weight: bold;
    font-size: 18px;
}

.banner_button {
    text-align: center;
}

.main_bg {
    background-image: url(../images/main_bg.jpg);
    background-repeat: no-repeat;
    min-height: 1000px;
    padding-top: 120px;
}

.perfea span {
    text-align: center;
    color: #668BFE;
    font-family: ubuntu;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    display: block;

}

.perfea p {
    text-align: center;
    color: #999999;
    font-family: ubuntu;
    font-size: 16px;
    margin-top: 10px;
}

.icon_sec {
    margin-top: 80px;
}

.icon {
    margin-right: 15px;
}

.icon_text {
    overflow: hidden;
}


.icon_text span {
    font-family: ubuntu;
    color: #363958;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.icon_text p {
    color: #AEAEAE;
    font-family: ubuntu;
    margin-top: 16px;
}

.smpwid {
    margin-top: 120px;
}

.smpwid span {
    text-align: center;
    color: #668BFE;
    font-family: ubuntu;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
}

.smpwid p {
    text-align: center;
    color: #999999;
    font-family: ubuntu;
    font-size: 16px;
    margin-top: 10px;
}

.left_arrow {
    margin-top: 309px;
}

.right_arrow {
    margin-top: 309px;
}

.sshot {
    margin-top: 120px;
}

.sshot span {
    text-align: center;
    color: #668BFE;
    font-family: ubuntu;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
}

.sshot p {
    text-align: center;
    color: #999999;
    font-family: ubuntu;
    font-size: 16px;
    margin-top: 10px;
}

.wethersshot {
    margin-top: 150px;
}

#cloudy1 {
    margin-top: 125px;
}

#cloudy2 {
    margin-top: 20px;
}

.weather span {
    margin-top: 30px;
    color: #668BFE;
    font-family: ubuntu;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
}

.weather p {

    color: #343853;
    font-family: ubuntu;
    font-size: 16px;
    margin-top: 20px;
    font-weight: bold;
}

.peopleq {
    margin-top: 120px;
    margin-bottom: 50px;
}

.peopleq span {
    text-align: center;
    color: #668BFE;
    font-family: ubuntu;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
}

.peopleq p {
    text-align: center;
    color: #343853;
    font-family: ubuntu;
    font-size: 16px;
}

.quote span {
    display: block;
    color: #343853;
    font-family: ubuntu;
    font-size: 18px;
    margin-top: 15px;
}

.quote p {
    font-family: ubuntu;
    margin-top: 10px;
}

.quotemain {
    margin-top: 80px;
    margin-bottom: 100px;
}

.quote1 span {
    display: block;
    color: #343853;
    font-family: ubuntu;
    font-size: 18px;
    margin-top: 15px;
}

.quote1 p {
    font-family: ubuntu;
    margin-top: 10px;
}

.download {
    background-image: url(../images/bg2.jpg);
    min-height: 341px;
    background-repeat: no-repeat;
    background-size: cover;
}
.dnl{
     padding-top: 100px;
}
.dnl span{
   
    color: white;
    font-family: ubuntu;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
   
}
.dnl p{
    margin-top: 25px;
    margin-bottom: 20px;
    font-family: ubuntu;
    color: white;
}
.foot{
    position: relative;
}
.footer{
    background-color: #343855;
    min-height: 200px;

}
.footer_line{
    border-bottom: 1px solid #44476A;
}

.logo2 {
    margin-top: 70px;
}


#fn{
    color: #B6B4C9;
    font-family: ubuntu;
    font-weight: bold;
}

#fn:hover{
    color: white;
}

.nav-style-bottom {
    background-color: transparent;
    border: 0px;
    margin-top: 54px;
    margin-bottom: 54px;
}

.copyright{
    min-height: 80px;
    background-color: #343855;
    color: #565B85;
    
}

.Top{
    position: absolute;
    right: 0%;
    bottom: -50px;
}